/*------------------------------------*\
    #WORDPRESS DEFAULTs
\*------------------------------------*/
.alignnone,
a img.alignnone {
    margin: 0 0 $spacing-unit;
}

.aligncenter,
div.aligncenter,
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.alignright,
a img.alignright {
    float:right;
    margin: 0 0 $spacing-unit $spacing-unit;
}

.alignleft,
a img.alignleft {
    float: left;
    margin: 0 $spacing-unit $spacing-unit 0;
}

.wp-caption {
    background: transparent;
    border: 0 none;
    max-width: 100%; /* Image does not overflow the content area */
    padding: $spacing-unit--small 0;
    text-align: center;

    &.alignnone {
        margin: 0 0 $spacing-unit;
    }

    &.aligncenter {
        margin: 0 auto $spacing-unit;
    }

    &.alignleft {
        margin: 0 $spacing-unit $spacing-unit 0;
    }

    &.alignright {
        margin: 0 0 $spacing-unit $spacing-unit;
    }

    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 100%;
        padding: 0;
        width: auto;
    }

    .wp-caption-text {
        font-size: $base-font-size;
        line-height: $base-line-height;
        margin: 0;
        padding: 0 0 $spacing-unit--small;
    }
}


/* Text meant only for screen readers. */
.screen-reader-text,
.assistive-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus,
.assistive-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: $spacing-unit--small;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: $spacing-unit--small;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}