	<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!--<![endif]-->
    <script src="bower_components/svg4everybody/dist/svg4everybody.min.js"></script>
    <script src="js/init.min.js"></script>
  </body>
</html>

