/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Typographical base selectors.
 */

/**
 * Horizontal rules.
 */
hr {
    background-color: none;
    border: none;
    border-bottom: 1px solid $base-border-color;
    height: 1px;
    margin-bottom: $spacing-unit;
}

/**
 * Wordpress class for styling content typography elements
 */
.entry-content {
    h1,
    .alpha {
        @extend %alpha;
        line-height: 1.1;
        margin-bottom: .25em;
    }

    h2,
    .beta {
        @extend %beta;
        line-height: 1.2;
        margin-bottom: .25em;
    }

    h3,
    .gamma {
        @extend %gamma;
    }

    h4,
    .delta {
        @extend %delta;
    }

    h5,
    .epsilon {
        @extend %epsilon;
    }

    h6,
    .zeta {
        @extend %zeta;
    }

    img,
    p,
    ul,
    ol,
    pre,
    blockquote,
    .embedded {
        &:not(:last-child) {
            margin-bottom: $spacing-unit;
        }
    }

    i,
    em {
        font-style: italic;
    }

    b,
    strong {
        font-weight: 700;
    }


    ul {
        list-style-type: disc;
    }

    ol {
        list-style: decimal;
    }

    ul,
    ol {
        margin-left: 1em;
        margin-right: 1em;
    }
}
